
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256=6215d71a3212690e9aec49408a27e3fe6ad7cd6c715476e93d70dc784041e93e
Flask==2.3.2

numpy==1.25.0

pandas==2.0.3
pandocfilters==1.5.0

python-dateutil==2.8.2
python-firebase==1.2
python-json-logger==2.0.7
python-Levenshtein==0.21.1




gunicorn==19.7.1
