<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0zM7 16l-4-4l1.41-1.41L7 13.17l10-10l1.41 1.41z' fill='%23007bff'/%3E%3C/svg%3E" type="image/svg+xml">


<title>Emoji Suggestion</title>

</head>
<body>

 


    <div id="addEmojiBtndiv"> 
        <span>Want to add new emojis? </span>
        <button id="addEmojiBtn">click here</button>
    </div>

<div class="input-container" id="input-container">

    <input type="text" id="textInput" placeholder="">
    <label for="textInput" class="placeholder">&nbsp;Type here..&nbsp;</label>

    <!-- Add the emojis container here -->
    <div class="emojis-container"></div>

</div>






<div id="addEmojiForm" style="display: none;">
    <button id="backbtn" style="display:none">Back</button>

    <input type="text" id="emoji" placeholder="">
    <label for="emoji" class="placeholder1">&nbsp;Emoji&nbsp;</label>

    <input type="text" id="emojiName" placeholder="">
    <label for="emojiName" class="placeholder1">&nbsp;Emoji Name&nbsp;</label>

    <input type="text" id="emojiMeaning" placeholder="">
    <label for="emojiMeaning" class="placeholder1">&nbsp;Emoji Meaning&nbsp;</label>

    <button id="submitEmojiBtn">Submit</button>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
